body {
  margin: 0;
  padding: 0;
  background-image: url("C:\Users\DEV\Desktop\weather app\weather-app\src\pexels-pixabay-209831.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-attachment: fixed; /* Keep the background fixed within the viewport */
  font-family: Arial, sans-serif; /* Specify a fallback font-family */
}

.App {
  text-align: center;
  color: white; /* Set text color to white for better visibility on the background */
}